src/doc-meta.xsd

<?xml version="1.0"?>
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="file://doc-meta.xsd" 
    xmlns="file://doc-meta.xsd">


    <xsd:element name="title" type="xsd:string" />
    <xsd:element name="author" type="xsd:string" maxOccurs="2"/>
    <xsd:element name="date" type="xsd:dateTime" />


</xsd:schema>